# The purpose of this file is to store *all* the dependencies
# setup.cfg
anndata
gseapy
infercnvpy
interrogate
leidenalg
matplotlib
numpy
jax<=0.4.10
jaxlib<=0.4.10
pandas
petname
pydantic
scanpy>=1.9.1
seaborn
scikit-learn
scipy
scvi-tools>=0.20.0
sphinx<6
statsmodels
protobuf
# requirements-dev.txt
black==22.10.0
flake8
pre-commit
pydata-sphinx-theme
pytest
pytest-cov
pytest-xdist
pytype
