# The purpose of this file is to store *all* the dependencies
# setup.cfg
anndata
gseapy
infercnvpy
leidenalg
matplotlib
numpy<=1.21
pandas    
petname
pydantic
scanpy>=1.9.1
seaborn
scikit-learn
scipy
scvi-tools
sphinx
statsmodels
protobuf~=3.19.0
# requirements-dev.txt
black
flake8
pre-commit
pydata-sphinx-theme
pytest
pytest-cov
pytest-xdist
pytype
